html {
  //Colors
  --Torch-Red: #fa0339;
  --Regular-text-color: #132239;
  --Egg-White: #f3f2ee;
  --Dark-Opacity30: #0f1b2e;
  --Color-Light: rgba(19, 34, 57, 0.5);
  --Border-Color: #dee3eb;
  --Black-Color: #0f1b2e;
  --Discord-Color: #5865f2;
  --Blue-Color: #2ca5e0;
  --Plain-White: #ffffff;
  --Theme-Black: #000c1b;
  --Transparent-Color: transparent;
  --Border-Black: #141f32;
  --Gray-color: #67707e;
  --Video-Border: #dee3eb;
  --Video-Edges: #b1bdcf;
  --bg-dark: #0f172b;
  --Input-Text-Field: #2a2f38;
  --Footer-Bg-Color: #191a1c;
  --Footer-Mobile-Bg-Color: #1d1e20;
  --Accordion-Title: #14212d;
  --Black-Color: #000000;
  --Icon-Border-Color: #e1e5e8;
  --Icon-Bg-Color: #fbfbfd;
  --Dark-Black: #040404;
  --Tag-Color: #ffc700;
  --Slider-Bullets-Bg: #e2e8f0;
  --Primary300: #b8bdc4;
  --Primary400: #b8bdc4;
  --Primary5: #f3f4f5;
  --Green: #00bd1e;
}
