@import "./importables/mixins";
@import "./importables/variables";
img,
svg {
  max-width: 100%;
}
:root {
  scroll-behavior: unset;

  @include large(min-width) {
    scroll-behavior: smooth;
  }
}
body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #14212d;
  overflow-x: hidden;
}
section {
  .wp-main {
    padding-bottom: 40px;
    .gp-main {
      padding-bottom: 80px;
      &.gp-classes {
        padding-top: 40px;
        .class-rating {
          padding: 0 0 40px 50px;
          .rp-stars {
            display: flex;
            span {
              max-width: 120px;
              width: 100%;
            }
          }
        }
      }
    }
  }
  h2 {
    font-size: calc(clamp(28px, 2.4vw + 5px, 48px));
    // margin-bottom: calc(clamp(16px, 2vw + 5px, 48px));
    font-weight: bold;
    text-transform: capitalize;
    padding-block: 6px;
  }

  h1 {
    font-size: 48px;
    line-height: 76px;
    color: #000c1b;
    font-weight: bold;
  }
  .overview-description {
    font-size: 26px;
    line-height: 48px;
    color: #000c1b;
    max-width: 810px;
    margin: 0 auto;
  }
}

.rm-left-nav {
  width: 180px;
  z-index: 2001;
  height: 100vh;
  position: fixed;
  border-right: 1px solid #dee3eb;
  display: none;
  top: 80px;

  @include large(min-width) {
    display: block;
  }
}

.rm-content-wrapper {
  padding-inline: calc(clamp(32px, 5vw + 5px, 100px));
  position: relative !important;
  @include large(min-width) {
    flex-shrink: 1;
    width: calc(100vw - 180px);
    margin-left: 180px;
    max-width: 1180px;
    padding-bottom: 115px;
  }

  section {
    margin-bottom: 130px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.nitro-sidebar-items {
  .nav-pills {
    margin-top: 56px;
  }
  .nav-link {
    text-decoration: none;
    padding: 16px 28px;
    color: rgba(19, 34, 57, 0.5);
    text-transform: capitalize;
    &.nav-nav-link {
      padding: 8px 28px;
    }
    &.nav-gray-link {
      color: #505864;

      &.nav-link {
        padding: 8px 0 40px 102px;
      }
    }

    &.active {
      background-color: transparent;
      color: #fa0339;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: -1px;
        height: 36%;
        width: 1px;
        background: #fa0339;
        top: 7px;
      }
    }
  }
}
